html {
  min-height: 100%;
}

body {
  min-height: 100%;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/mario-bg.png) no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: #95e8f3;
}

form {
  padding: 20px;
  margin-top: 60px;

  button, h5 {
    margin: 20px 0;
  }
}

$form-selectors: "input[type=text]", "input[type=email]", "input[type=password]";

@each $form-selector in $form-selectors {
  #{$form-selector}:not(.browser-default):focus:not([readonly]),
  textarea.materialize-textarea:focus:not([readonly]) {
    border-color: #ec407a;
    box-shadow: none;
  }
}




